/* Alison Cameron and Adam Nik */

.logo{
  float: left;
  padding-left: 10px;
  padding-right: 175px;
}

.topnav {
  overflow: hidden;
  background-color: #B9B9B9;
  height: 75px;
  border: 10px;
}

.topnav a {
  float: left;
  color: #FFC300;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 36px;
  height: 75px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #0A0F50;
}

.topnav a.active {
  background-color: #0A0F50;
  color: #FFC300;
}

#top {
  background-color: #B9B9B9
}

.image{
  padding-left: 20%;
  padding-top: 20px;
}

hr.linebreak{
  border: 1px solid #0A0F50;
}

.graph_dropdowns{
  margin:auto;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.graph_dropbtn {
  background-color: #0A0F50;
  color: #FFC300;
  font-size: 24px;
  border: none;
  height: 40px;
  width: 150px;
  margin: 10px;
  border-radius: 3px;
}

#graph_submit{
  background-color: #0A0F50;
  color: #FFC300;
  border: none;
  border-radius: 3px;
  height: 25px;
}

.searchnav {
  overflow: hidden;
  background-color: #B9B9B9;
  height: 40px;
  border: 10px;
  padding-top: 10px;
  padding-left: 20%;
}

.search_dropbtn {
  background-color: #f1f1f1;
  color: #0A0F50;
  font-size: 20px;
  border: none;
  height: 40px;
  width: 150px;
  margin: 10px;
  border-radius: 3px;
}

#search_submit{
  background-color: #f1f1f1;
  color: #0A0F50;
  font-size: 18px;
  border: #0A0F50;
  border-radius: 3px;
  height: 25px;
}

#results {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#results td, #results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#results tr:nth-child(even){background-color: #f2f2f2;}

#results tr:hover {background-color: #ddd;}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0A0F50;
  color: white;
}

.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active) {background-color: #ddd;}

#map-container {
    position: relative;
    float: left;

    /* Preserving the container div's aspect ratio (which should be 4:3 for
     * the Datamap US map) uses this slightly bizarre CSS trick, where you make
     * sure the height is 0 and the ratio between width and padding-bottom
     * is your desired aspect ratio. See this pretty good article for details:
     * https://css-tricks.com/aspect-ratio-boxes/
     */
    height: 0;
    width: 100%;
    padding-bottom: 60%;

    /* My friend Shaun (Carleton CS '02) is even worse than I am at the details of
     * graphic design. So when he wants to make sure the designers don't preserve
     * his color choices, he makes stuff orange to force their hand. I am using
     * orange here both to remind you to change the color, and to make visible the
     * size and aspect ratio of the US map object. */
    background: white;
}

#goals {
    float: left;
    width: 40%;
}

#country-summary {
    float: right;
    width: 40%;
}

.hoverpopup {
    background: #eeeeee;
    border: 1px black solid;
    padding: 3px;
}
