<!-- Alison Cameron and Adam Nik -->

<html>

<head>
  <meta charset="UTF-8">
  <title>Olympics</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="{{ url_for('static', filename='datamaps.world.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" ></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
  <div id="top">
    <div class="logo">
      <img src="{{ url_for('static', filename='olympic_rings.png') }}" height="75" alt="logo">
    </div>
    <div class="topnav">
      <a class="active" href="index.html">Map</a>
      <a href="search.html">Search</a>
    </div>
  </div>

  <div id="country-summary"></div>
  <div id="map-container"></div>

  <div id="range_key">
    <img src="{{ url_for('static', filename='range_key.png') }}" width="75%">
  </div>

</body>

</html>
